<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc207project">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="fall2018.csc207project.Views.GlobalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fall2018.csc207project.Views.SignInActivity" />
        <activity android:name="fall2018.csc207project.Views.SignUpActivity" />
        <activity android:name="fall2018.csc207project.Views.LocalGameCenterActivity" />
        <activity android:name="fall2018.csc207project.Views.GameListActivity" />
        <activity android:name="fall2018.csc207project.SlidingTile.Controllers.StartingActivity" />
        <activity android:name="fall2018.csc207project.SlidingTile.Controllers.ScoreBoardActivity" />

        <activity android:name="fall2018.csc207project.SlidingTile.Controllers.ComplexityActivity" />
        <activity android:name="fall2018.csc207project.SlidingTile.Views.GameActivity" />
        <activity android:name=".Memorization.Controllers.MemoStartingActivity" />
        <activity android:name=".PushTheBox.View.BoxStartingActivity" />
        <activity android:name=".PushTheBox.View.BoxGameActivity"/>
        <activity android:name=".PushTheBox.View.LevelActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".Memorization.Controllers.MemoComplexActivity" />
        <activity android:name=".Memorization.Views.MemoGameActivity" />
        <activity android:name="fall2018.csc207project.Views.ManageSaveActivity" />
        <activity android:name=".PushTheBox.View.BoxScoreBoardActivity" />
        <activity android:name=".Memorization.Controllers.MemoScoreBoardActivity" />
    </application>

</manifest>
